doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div#content
      div.inner
        p
           | Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
           | Aenean eu leo quam.
           | Pellentesque ornare sem lacinia quam venenatis vestibulum.